{% extends 'base.html.twig' %}
{% block body %}


<h1>Registration </h1>
    {{ form_start(form) }}

    {{ form_widget(form) }}
<br>

    <button style="background-color: #95a5a6" type="submit" class="btn btn-success">Register</button>
    {{ form_end(form) }}


{% endblock %}