{% extends 'base.html.twig' %}
{% block body %}
<h1>Sup d'une maison </h1>
<form action="" method="post">
    {{ form_widget(FormMaison) }}
    <input type="submit" value="maisonDelete">
</form>
{% endblock %}