{% extends 'base.html.twig' %}
{% block body %}

    <article>
        <h2>titre</h2>
        <div class="content">
            <img src="asset('images/s-6.jpg')" >
            <p>hhhhhhhhhhhhh</p>
        </div>
    </article>
{% endblock %}