{% extends 'base.html.twig' %}
{% block body %}

    <article>
        {%  for m in detailMaison %}

        <h2>titre</h2>
        <div class="content">
            <p>Modele: {{ m.modele.libelle }}</p>
            <p>Price: {{ m.price }}$</p>
            <p>Surface: {{ m.surface }}</p>
            <img src="{{ m.photo }}">
        </div>
        {% endfor %}

    </article>
{% endblock %}