{% extends 'base.html.twig' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update of house </title>
</head>
<body>

<h1>Update of house </h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form_widget(editFormMaison) }}
    <br>
    <button style="background-color: #95a5a6" class="btn btn-success" type="submit" >Update</button>
</form>
</body>
</html>
{% endblock %}
