{% extends 'base.html.twig' %}
{% block body %}
    <h1>Sup d'un client </h1>
    <form action="" method="post">
        {{ form_widget(FormClient) }}
        <input type="submit" value="clientDelete">
    </form>
{% endblock %}