{% extends 'base.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Mise à jour d'un Client </title>
    </head>
    <body>

    <h1>Mise à jour d'un Client </h1>
    <form action="" method="post">
        {{ form_widget(editFormClient) }}
        <br>
        <button style="background-color: #95a5a6" class="btn btn-success" type="submit" >Mise à jour</button>
    </form>
    </body>
    </html>
{% endblock %}
